{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Equipo de trabajo</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Equipo de Trabajo</li>
                        </ol>
                    </div>

                </div>

            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="car-body">
                        <table id="datateam" class="table table-hover" data-mdb-clickable-rows="true"
                            data-mdb-selectable="true" data-mdb-multi="true">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Rut</th>
                                    <th>Departamento</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in datos.teams %}
                                <tr style="color:#878781">
                                    <td>{{team.nombreUsuario}}</td>
                                    <td>{{team.apellidoUsuario}}
                                        {% if team.segundoApellido %}{{team.segundoApellido}}{% endif %}
                                    </td>
                                    <td>{{team.rutUsuario}}</td>
                                    <td>{{team.idUnidadInternaUsuario}}</td>
                                    <td>{{team.correoElectronico}}</td>
                                    <td>{{team.idRolUsuario}}</td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" tabindex="-1" aria-hidden="true" id="modal-clickable-rows">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modal-header-clickable-rows"></h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body mt-4 mb-5" id="modal-body-clickable-rows"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-primary">
                                                    Reply<i class="fa fa-paper-plane ms-2"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-primary">
                                                    Forward<i class="fa fa-arrow-right ms-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Rut</th>
                                    <th>Departamento</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div> 
        </section>


    </div>
    {% endblock content %}

    {% block script %}
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            var table = $('#datateam').DataTable({
                scrollY: "50vh",
                scrollCollapse: true,
                paging: false,
            });
            $('#datateam').on('click', 'tbody tr', function () {
                var data = table.row( this ).data();
                var uri = "{% url 'workload' 123 %}"
                window.location.href = uri.replace('123',data[2]);
            });
            $('tr').css('cursor', 'pointer');
        });
    </script>


    {% endblock script %}