{% extends 'base.html' %}
{% load parse_iso %}
{% load static %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tablero de procesos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Tablero de procesos</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            {% if  datos.role == 1 or datos.role == 2%}
          <div class="col-12 col-sm-6 col-md-3">

            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fa fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total de Tareas</span>
                <span class="info-box-number">
                  {{datos.allTask|floatformat}}
                  <!-- 10
                  <small>%</small> -->
                </span>
              </div>


              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>


          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon badge-success elevation-1"><i class="far fa-calendar-check"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Tareas concluidas</span>
                <span class="info-box-number">{{datos.taskFinished|floatformat}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <!-- <div class="clearfix hidden-md-up"></div> -->

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="far fa-calendar-times"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Tareas Atrasadas</span>
                <span class="info-box-number">{{datos.taskOverDue|floatformat}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Tareas en ejecución</span>
                <span class="info-box-number">{{datos.allTaskOnExecute|floatformat}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          {% endif %}

        {% if datos.role == 3 %}
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-history"></i></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Historial de flujos de tareas</span>
                <span class="info-box-number">232</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
                    <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Flujos de tareas en proceso</span>
                <span class="info-box-number">43</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        {% endif %}
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Reporte Mensual de Tareas</h5>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">

                    <div class="table-responsive">
                      <table class="table m-0">
                        <thead>
                        <tr>
                          <th>Tarea ID</th>
                          <th>Descripcion</th>
                          <th>Status</th>
                          <th>Fecha Plazo</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for tareas in datos.task %}
                        <tr>
                          <td>{{tareas.idTarea}}</td>
                          <td>{{tareas.nombreTarea}}</td>
                          <td>
                            {% if tareas.fkEstadoTarea == 1 %}<span class="badge badge-secondary">Creada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 2 %}<span class="badge badge-primary">Asignada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 3 %}<span class="badge badge-info">Aceptada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 4 %}<span class="badge badge-warning">Rechazada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 5 %}<span class="badge badge-danger">Atrasada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 6 %}<span class="badge badge-success">Completada</span>{% endif %}
                            {% if tareas.fkEstadoTarea == 7 %}<span class="badge badge-danger">Problemas</span>{% endif %}
                          </td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">{{tareas.fechaPlazo|parse_iso|date:'d/m/Y'}}</div>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Finalización de la meta</strong>
                    </p>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      Tareas Atrasadas
                      <span class="float-right"><b>{{datos.taskOverDue}}</b>/{{datos.allTask|floatformat}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: {{datos.percentOverDue|floatformat}}%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Tareas concluidas</span>
                      <span class="float-right"><b>{{datos.taskFinished}}</b>/{{datos.allTask|floatformat}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: {{datos.percentFinished|floatformat}}%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      Tareas en ejecución
                      <span class="float-right"><b>{{datos.allTaskOnExecute}}</b>/{{datos.allTask}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: {{datos.percentOnExecute|floatformat}}%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>


  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->

  {% endblock %}