{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Detalle flujos de tareas
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Detalle flujos de tareas
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header"></div>
                                <form action="">
                                    <!-- card-body -->
                                    <div class="card card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="form-group col-md-12">
                                                        <label for="nombretarea">Nombre</label>
                                                        
                                                        <input type="text" class="form-control" disabled id="nombretarea" placeholder = "Flujo de tareas X"/> 
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <!-- textarea -->
                                                        <div class="form-group">
                                                            <label>Descripción</label>
                                                            <textarea class="form-control" rows="12"  disabled
                                                                style="resize: none;">{% lorem 2 b random %}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <div class="form-group col-md-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">Bordered Table</h3>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div class="card-body">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width: 10px">#</th>
                                                                                <th>Task</th>
                                                                                <th>Progress</th>
                                                                                <th style="width: 40px">Label</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>1.</td>
                                                                                <td>Update software</td>
                                                                                <td>
                                                                                    <div class="progress progress-xs">
                                                                                        <div class="progress-bar progress-bar-danger"
                                                                                            style="width: 55%"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="badge bg-danger">55%</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>2.</td>
                                                                                <td>Clean database</td>
                                                                                <td>
                                                                                    <div class="progress progress-xs">
                                                                                        <div class="progress-bar bg-warning"
                                                                                            style="width: 70%"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="badge bg-warning">70%</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>3.</td>
                                                                                <td>Cron job running</td>
                                                                                <td>
                                                                                    <div
                                                                                        class="progress progress-xs progress-striped active">
                                                                                        <div class="progress-bar bg-primary"
                                                                                            style="width: 30%"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="badge bg-primary">30%</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>4.</td>
                                                                                <td>Fix and squish bugs</td>
                                                                                <td>
                                                                                    <div
                                                                                        class="progress progress-xs progress-striped active">
                                                                                        <div class="progress-bar bg-success"
                                                                                            style="width: 90%"></div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="badge bg-success">90%</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- /.card-body -->
                                                                <div class="card-footer clearfix">
                                                                    <ul
                                                                        class="pagination pagination-sm m-0 float-right">
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="#">«</a></li>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="#">1</a></li>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="#">2</a></li>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="#">3</a></li>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="#">»</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-default float-right">Cancelar</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tareas del flujo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Select multiple-->
                                <div class="form-group">
                                    <label>Tareas disponibles</label>
                                    <select multiple="" class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Tareas del flujo</label>
                                    <select multiple="" class="form-control">

                                    </select>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

{% endblock content %}