{% extends 'base.html' %} {% load static %}
{% load parse_iso %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Creacion de tarea</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Creacion de tarea</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <form method="POST"
                                    action="{% if datos.menu == 'taskedit' %} {% url 'updatetask' id=datos.tareas.idTarea %} {% endif %}{% if datos.menu == 'tasknew' %} {% url 'savenewtask' %} {% endif %}">
                                    <!-- card-body -->
                                    {% csrf_token %}
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="nombretarea">Nombre</label>
                                                <input type="text" class="form-control" name="nombretarea"
                                                    {% if datos.menu == 'tasknew' %} placeholder="Nombre" {% endif %}
                                                    {% if datos.menu == 'taskedit' %}
                                                    value="{{datos.tareas.nombreTarea}}" {% endif %} />
                                            </div>
                                            {% if datos.menu == 'taskedit' %}
                                            <div class="form-group col-md-6">
                                                <label for="Proceso">Asignado a:</label>
                                                <select class="form-control" name="asignadoa">
                                                    {% for asignadoa in datos.asignadoa %}
                                                    <option value="{{asignadoa.rutUsuario}}"
                                                        {% if datos.menu == 'taskedit' and asignadoa.rutUsuario == datos.tareas.fkRutUsuario %}
                                                        selected {% endif %}>
                                                        {{asignadoa.nombreUsuario}}
                                                        {{ asignadoa.apellidoUsuario}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="Proceso">Creado por</label>
                                                <input type="text" class="form-control" name="creadopor"
                                                    value="{{datos.creadopor.nombreUsuario}} {{datos.creadopor.apellidoUsuario}}" readonly />
                                                <input type="text" class="form-control" name="creadoporRut"
                                                    value="{{datos.creadopor.rutUsuario}}" hidden />

                                            </div>
                                            {% endif %}

                                            {% if datos.menu == 'taskedit' %}
                                            <div class="form-group col-md-6">
                                                <label for="Proceso">Porcentaje avance:</label>
                                                <input type="number" class="form-control" name= "porcentaje" min="0" max="100" value="{{ datos.tareas.porcentajeAvance }}">
                                            </div>
                                            {% endif %}

                                            <div class="form-group col-md-6">
                                                <label for="Proceso">Prioridad</label>
                                                <select class="form-control" name="prioridadtarea">
                                                    {% for prioridad in datos.prioridad %}
                                                    <option value="{{prioridad.idPrioridad}}"
                                                        {% if datos.menu == 'taskedit' and prioridad.idPrioridad == datos.tareas.fkPrioridadTarea %}
                                                        selected {% endif %}>{{prioridad.descripcion}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% if datos.menu == 'tasknew' %}
                                            <div class="form-group col-md-6">
                                                <label>Fecha plazo:</label>
                                                <div class="input-group date" id="fechaplazo"
                                                    data-target-input="nearest">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="date" class="form-control" name="fechaplazo">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if datos.menu == 'taskedit' %}
                                            {% comment %} <div class="form-group col-md-6">
                                                <label>Fecha plazo:</label>
                                                <div class="input-group date">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="hidden" class="form-control" name="fechaplazo"
                                                                value="{{datos.tareas.fechaPlazo|parse_iso|date:'d/m/Y'}}">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div> {% endcomment %}
                                            {% comment %} <input type="date" class="form-control" name="fechaplazo" value="{{datos.tareas.fechaPlazo}}"> {% endcomment %}
                                            <input type="text" class="form-control" value = "{{datos.tareas.fechaPlazo|parse_iso|date:'d/m/Y'}}" disabled>

                                            {% comment %} {% if datos.menu == 'taskedit' %} {% endcomment %}
                                            <div class="form-group col-md-6">
                                                <label> Estado Tarea:</label>
                                                <select class="form-control" name="estadotarea">

                                                    {% for estado in datos.estado %}
                                                    <option value="{{estado.idEstadoTarea}}"
                                                        {% if estado.idEstadoTarea == datos.tareas.fkEstadoTarea %}
                                                        selected{% endif %}>
                                                        {{estado.descripcionEstadoTarea}}</option>

                                                    {% endfor %}

                                                </select>
                                            </div>
                                            {% endif %}

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>Descripción</label>
                                                    <textarea class="form-control" rows="5"
                                                        {% if datos.menu == 'tasknew' %} placeholder="..." {% endif %}
                                                        style="resize: none;"
                                                        name="descripciontarea">{% if datos.menu == 'taskedit' %}{{datos.tareas.descripcionTarea}}{% endif %}</textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info"
                                            value="OK">{% if datos.menu == 'taskedit' %}Actualizar{% endif %}
                                            {% if datos.menu == 'tasknew' %}Guardar{% endif %}</button>
                                        <button type="submit" class="btn btn-default float-right">Cancelar</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock content %}