{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Site wrapper -->
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detalle tarea Asignada</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Detalle tarea</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-clipboard-list"></i> Tarea {{datos.tareas.nombreTarea}}
          </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                      <span class="info-box-number text-center text-muted mb-0">{{datos.tareas.fechaPlazo}}</span>
                    </div>
                  </div>
                </div>
                {% comment %} <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Proceso</span>
                      <span class="info-box-number text-center text-muted mb-0">Documentación</span>
                    </div>
                  </div>
                </div> {% endcomment %}
                <div class="col-12 col-sm-6">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Estado</span>
                      <span class="info-box-number text-center text-muted mb-0">Completada</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Actividad reciente</h4>
                  {% for actividad in datos.actividades %}

                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/user1-128x128.jpg' %}"
                        alt="user image" />
                      <span class="username">
                        <label>Evento</label>
                      </span>
                      {% comment %} <span class="description">Fecha - 7:45 PM Hoy</span> {% endcomment %}
                    </div>
                    <!-- /.user-block -->
                    <p>
                      {{actividad.descripcion}}
                    </p>
                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Detalle</a>
                    </p>
                  </div>
                  {% endfor %}

                  {% comment %} <div class="post clearfix">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/user7-128x128.jpg' %}"
                        alt="User Image" />
                      <span class="username">
                        <a href="#">Problema</a>
                      </span>
                      <span class="description">Fecha - 7:45 PM Hoy</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for
                      designers, typographers and the like. Some people hate it
                      and argue for its demise, but others ignore.
                    </p>
                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Detalle</a>
                    </p>
                  </div> {% endcomment %}

                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <div class="card">
                <div class="car-header">
                  <h3 class="text-primary">
                    Descripción
                  </h3>
                </div>
                <p class="text-muted">
                  {{datos.tareas.descripcionTarea}}
                </p>
                <br />
                <div class="text-muted">
                  <p class="text-sm">
                    Asignada a
                    {% for us in datos.usuarios %}
                    {% if  us.rutUsuario == datos.tareas.fkRutUsuario %}
                    <b class="d-block">{{us.nombreUsuario}} {{us.apellidoUsuario}}</b>
                    {% endif %}
                    {% endfor %}

                  </p>
                  {% comment %} <p class="text-sm">
                    Subordinada por
                    <b class="d-block">Jean Lopez
                    </b>
                  </p> {% endcomment %}
                </div>

                {% comment %} <h5 class="mt-5 text-muted">Enviar actualizacion</h5>
                {% comment %} <ul class="list-unstyled">
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                      Functional-requirements.docx</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i>
                      Email-from-flatbal.mln</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image"></i> Logo.png</a>
                  </li>
                  <li>
                    <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                      Contract-10_12_2014.docx</a>
                  </li>
                </ul>
                <div class="input-group input-group mb-3">
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      Accion
                    </button>
                    <ul class="dropdown-menu" style="">
                      <li class="dropdown-item"><a href="#">Avance</a></li>
                      <li class="dropdown-item"><a href="#">Cerrar</a></li>
                      <li class="dropdown-item"><a href="#">Rechazar</a></li>
                    </ul>
                  </div>
                  <!-- /btn-group -->
                  <input type="text" class="form-control">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat"><i class="fas fa-check"></i></button>
                  </div>
                </div>
                <div class="text-center mt-5 mb-3">
                  <!-- <a href="#" class="btn btn-sm btn-primary">Enviar</a> -->
                  <a href="#" class="btn btn-sm btn-danger">Cancelar</a>
                </div> {% endcomment %}
                <form>
                  <input type="button" value="Volver" onclick="history.back()">
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

{% endblock content %}