{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% load random_numbers %}

{% block content %}
<style type="text/css">
  .not-active {
    pointer-events: none;
    cursor: default;
  }

  .semaforo {
    background-color: #212121;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;

  }

  .active-red {
    color: rgb(229, 57, 53);
  }

  .active-green {
    color: rgb(67, 160, 71);
  }

  .active-yellow {
    color: rgb(253, 216, 53);
  }

  .active-gray {
    color: rgb(133, 130, 130);
  }
</style>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1> {% if datos.role == 1 %} Listado de tareas {% endif %} {% if datos.role !=  1 %}Mis tareas
                asignadas{% endif %}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Lista de Tareas</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      {% if not datos.tk|length == 0 %}
      <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            {% if not datos.tk|length == 0 and datos.role != 1 %}
            <span class="info-box-text text-center text-muted">
              Tareas por Aceptar
            </span>

            {% endif %}
            {% if  datos.role == 1 %}
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'tasknew' %}">Nueva Tarea</a>
              </li>
            </ul>
            {% endif %}
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <table class="table table-hover projects">
              <thead>
                <tr>
                  <th style="width: 1%">
                    #
                  </th>
                  <th style="width: 15%">
                    Nombre
                  </th>
                  <th style="width: 15%">
                    Asignada a
                  </th>
                  <th style="width: 15%">
                    Situacion Tarea
                  </th>
                  <th>
                    Progreso de tarea
                  </th>
                  <th style="width: 10%" class="text-center">
                    Estado
                  </th>
                  <th style="width: 20%">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for tarea in datos.tk %}
                <tr>
                  <td>
                    {{tarea.idTarea}}
                  </td>
                  <td>
                    <a>
                      {{tarea.nombreTarea}}
                    </a>
                    <br />
                    <small>
                      Fecha Plazo: {{tarea.fechaPlazo|parse_iso|date:'d/m/Y'}}
                    </small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      {% for us in datos.usuarios %}
                      {% if  us.rutUsuario == tarea.fkRutUsuario %}
                      {{us.nombreUsuario}} {{us.apellidoUsuario}}
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </td>
                  <td>
                    <!--  Parte velocimetro -->
                    <div class="semaforo">
                      {% if tarea.semaforo == 1%}
                      <i class="fas fa-circle active-green" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      {% endif %}
                      {% if tarea.semaforo == 2%}
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-yellow" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      {% endif %}
                      {% if tarea.semaforo == 3%}
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-gray" style="font-size: 35px;"></i>
                      <i class="fas fa-circle active-red" style="font-size: 35px;"></i>
                      {% endif %}

                    </div>
                    <!-- fin Parte velocimetro -->
                  </td>
                  <td class="project_progress">
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{tarea.percent}}"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{tarea.percent}}%">
                      </div>
                    </div>
                    <small>
                      {{tarea.percent}} % Completada
                    </small>
                  </td>
                  <td class="project-state">
                    <h5>
                      {% if tarea.fkEstadoTarea == 1 %}<span class="badge badge-secondary">Creada</span>{% endif %}
                      {% if tarea.fkEstadoTarea == 2 %}<span class="badge badge-secondary">Asignada</span>{% endif %}
                      {% if tarea.fkEstadoTarea == 3 %}<span class="badge badge-secondary">Aceptada</span>{% endif %}
                      {% if tarea.fkEstadoTarea == 4 %}<span class="badge badge-danger">Rechazada</span>{% endif %}
                      {% if tarea.fkEstadoTarea == 5 %}<span class="badge badge-success">Terminada</span>{% endif %}
                      {% if tarea.fkEstadoTarea == 6 %}<span class="badge badge-secondary">Atrasada</span>{% endif %}
                    </h5>
                  </td>
                  <td class="project-actions">
                    {% if  datos.role == 1 %}
                    <a class="btn btn-primary btn-sm" href="{% url 'taskdetails' id=tarea.idTarea%}">
                      <i class="fas fa-eye"></i>
                      Ver
                    </a>

                    <a class="btn btn-info btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      href="{% url 'taskedit' id=tarea.idTarea %}">
                      <i class="fas fa-pencil-alt">
                      </i>
                    </a>
                    <a class="btn btn-danger btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      href="{% url 'taskdelete' id=tarea.idTarea %}">
                      <i class="fas fa-trash">
                      </i>
                    </a>
                    <button type="button"
                      class="btn btn-success btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      data-toggle="modal" data-target="#modal-{{tarea.idTarea}}">
                      <i class="fas fa-clipboard-check"> </i>
                    </button>
                    <div class="modal fade" id="modal-{{tarea.idTarea}}" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-lg">

                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¿Confirma la finalizacion de la tarea {{tarea.nombreTarea}}?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <form method="POST" action="{% url 'taskcomplete' idTask=tarea.idTarea  %}">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      <div class="info-box bg-light">
                                        <div class="info-box-content">
                                          <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                                          <span
                                            class="info-box-number text-center text-muted mb-0">{{tarea.fechaPlazo}}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      <div class="info-box bg-light">
                                        <div class="info-box-content">
                                          <span class="info-box-text text-center text-muted">Estado</span>
                                          {% if tarea.fkEstadoTarea == 1 %}<span
                                            class="info-box-number text-center text-muted mb-0">Creada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 2 %}<span
                                            class="info-box-number text-center text-muted mb-0">Asignada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 3 %}<span
                                            class="info-box-number text-center text-muted mb-0">Aceptada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 4 %}<span
                                            class="info-box-number text-center text-muted mb-0">Rechazada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 5 %}<span
                                            class="info-box-number text-center text-muted mb-0">Finalizada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 6 %}<span
                                            class="info-box-number text-center text-muted mb-0">Atrasada</span>{% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                    <h4 class="text-primary">
                                      Descripción
                                    </h4>
                                    <h6>
                                      {{tarea.descripcionTarea}}

                                    </h6>

                                  </div>
                                </div>
                              </div>
                              <div class="wrapper">
                                <h5>¿Ha presentado algun problema con la tarea?</h5>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-12">

                                      <div class="input-group mb-3">
                                        <div class="input-group-text">
                                          <input class="form-check-input mt-0" type="checkbox" name="checkboxProblema"
                                            value="ok">
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox"
                                          name="inputProblema">
                                      </div>

                                    </div>
                                  </div>
                                </div>

                                <div class="container center">
                                  <div class="modal-footer justify-content-between">
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                    <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Cancelar</button>
                                  </div>
                                </div>
                          </form>

                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      {% else %}
                      <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"
                        data-target="#modal-{{tarea.idTarea}}">
                        <i class="fas fa-check-circle"></i>
                        <span>Aceptar</span>
                      </button>

                      <button type="reset" class="btn btn-block btn-danger btn-sm" data-toggle="modal"
                        data-target="#modal-rechazar-{{tarea.idTarea}}">
                        <i class="fas fa-times-circle"></i>
                        <span>Rechazar</span>
                      </button>
                      <div class="modal fade" id="modal-{{tarea.idTarea}}" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">{{tarea.nombreTarea}}</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      <div class="info-box bg-light">
                                        <div class="info-box-content">
                                          <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                                          <span
                                            class="info-box-number text-center text-muted mb-0">{{tarea.fechaPlazo}}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                      <div class="info-box bg-light">
                                        <div class="info-box-content">
                                          <span class="info-box-text text-center text-muted">Estado</span>
                                          {% if tarea.fkEstadoTarea == 1 %}<span
                                            class="badge badge-secondary">Creada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 2 %}<span
                                            class="badge badge-secondary">Asignada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 3 %}<span
                                            class="badge badge-secondary">Aceptada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 4 %}<span
                                            class="badge badge-danger">Rechazada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 5 %}<span
                                            class="badge badge-success">Terminada</span>{% endif %}
                                          {% if tarea.fkEstadoTarea == 6 %}<span
                                            class="badge badge-secondary">Atrasada</span>{% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                    <h4 class="text-primary">
                                      Descripción
                                    </h4>
                                    {{tarea.descripcionTarea}}
                                  </div>
                                </div>

                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <a type="button" class="btn btn-primary"
                                href="{% url 'AcceptTask' idTask=tarea.idTarea  %}">Aceptar</a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <div class="modal fade" id="modal-rechazar-{{tarea.idTarea}}" style="display: none;"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">¿Seguro que deseas rechazar la tarea {{tarea.nombreTarea}}?
                              </h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <form method="POST" action="{% url 'RejectTask' idTask=tarea.idTarea  %}">
                              {% csrf_token %}
                              <div class="modal-body">
                                <div class="form-group text-left">
                                  <label>Ingrese Motivo de rechazo</label>
                                  <textarea class="form-control" rows="3" name="descripcion" placeholder="Motivo ..."
                                    required></textarea>
                                </div>
                              </div>
                              <div class="modal-footer justify-content-between">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                              </div>
                            </form>
                            <!--<a type="button" class="btn btn-primary" href="{% url 'RejectTask' idTask=tarea.idTarea  %}">Aceptar</a>-->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          </div>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      {% endif %}
                      <!-- /.modal-dialog -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



        </div>
      </section>
      {% endif %}

      <!-- tareas aceptadas -->
      {% if not datos.tk2|length == 0 %}

      <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <span class="info-box-text text-center text-muted">
              Tareas Aceptadas
            </span>
            {% if  datos.role == 1 %}
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'tasknew' %}">Nueva Tarea</a>
              </li>
            </ul>
            {% endif %}
            <div class="card-tools">
              <div>

              </div>
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <table class="table table-hover projects">
              <thead>
                <tr>
                  <th style="width: 1%">
                    #
                  </th>
                  <th style="width: 20%">
                    Nombre
                  </th>
                  <th style="width: 30%">
                    Asignada a
                  </th>
                  <th>
                    Progreso de tarea
                  </th>
                  <th style="width: 8%" class="text-center">
                    Estado
                  </th>
                  <th style="width: 20%">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for tarea in datos.tk2 %}
                <tr>
                  <td>
                    {{tarea.idTarea}}
                  </td>
                  <td>
                    <a>
                      {{tarea.nombreTarea}}
                    </a>
                    <br>
                    <small>
                      Fecha Plazo: {{tarea.fechaPlazo|parse_iso|date:'d/m/Y'}}
                    </small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      {% comment %} <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar.png' %}">
                      </li> {% endcomment %}
                      {% for us in datos.usuarios %}
                      {% if  us.rutUsuario == tarea.fkRutUsuario %}
                      {{us.nombreUsuario}} {{us.apellidoUsuario}}
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </td>
                  <td class="project_progress">
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{tarea.percent}}"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{tarea.percent}}%">
                      </div>
                    </div>
                    <small>
                      {{tarea.percent}} % Completada
                    </small>
                  </td>
                  <td class="project-state">
                    {% if tarea.fkEstadoTarea == 1 %}<span class="badge badge-secondary">Creada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 2 %}<span class="badge badge-primary">Asignada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 3 %}<span class="badge badge-info">Aceptada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 4 %}<span class="badge badge-danger">Rechazada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 5 %}<span class="badge badge-success">Atrasada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 6 %}<span class="badge badge-success">Completada</span>{% endif %}
                  </td>
                  <td class="project-actions">
                    {% if  datos.role == 1 %}
                    <a class="btn btn-primary btn-sm" href="{% url 'taskdetails' id=tarea.idTarea%}">
                      <i class="fas fa-eye"></i>
                      Ver
                    </a>
                    <a class="btn btn-info btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      href="{% url 'taskedit' id=tarea.idTarea %}">
                      <i class="fas fa-pencil-alt">
                      </i>
                    </a>
                    <a class="btn btn-danger btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      href="{% url 'taskdelete' id=tarea.idTarea %}">
                      <i class="fas fa-trash">
                      </i>
                    </a>
                    <button type="button"
                      class="btn btn-success btn-sm {% if tarea.fkEstadoTarea == 5 %}not-active{% endif %}"
                      data-toggle="modal" data-target="#modal-{{tarea.idTarea}}">
                      <i class="fas fa-clipboard-check"> </i>
                    </button>
                    <div class="modal fade" id="modal-{{tarea.idTarea}}" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¿Confirma la finalizacion de la tarea {{tarea.nombreTarea}}?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="row">
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                                        <span
                                          class="info-box-number text-center text-muted mb-0">{{tarea.fechaPlazo}}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estado</span>
                                        {% if tarea.fkEstadoTarea == 1 %}<span
                                          class="info-box-number text-center text-muted mb-0">Creada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 2 %}<span
                                          class="info-box-number text-center text-muted mb-0">Asignada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 3 %}<span
                                          class="info-box-number text-center text-muted mb-0">Aceptada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 4 %}<span
                                          class="info-box-number text-center text-muted mb-0">Rechazada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 5 %}<span
                                          class="info-box-number text-center text-muted mb-0">Atrasada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 6 %}<span
                                          class="info-box-number text-center text-muted mb-0">Completada</span>{% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                  <h4 class="text-primary">
                                    Descripción
                                  </h4>
                                  {{tarea.descripcionTarea}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer justify-content-between">
                            <a type="button" class="btn btn-primary"
                              href="{% url 'taskcomplete' idTask=tarea.idTarea  %}">Aceptar</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal"
                      data-target="#modal-Progreso{{tarea.idTarea}}">
                      <i class="fas fa-percentage"></i><!--  -->
                      <span>Progresar</span>
                    </button>
                    <button type="reset" class="btn btn-block btn-warning btn-sm" data-toggle="modal"
                      data-target="#modal-reportar-{{tarea.idTarea}}">
                      <i class="fas fa-exclamation-circle"></i>
                      <span>Reportar problema</span>
                    </button>

                    <div class="modal fade" id="modal-Progreso{{tarea.idTarea}}" style="display: none;"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¿Confirma la finalizacion de la tarea {{tarea.nombreTarea}}?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="row">
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                                        <span
                                          class="info-box-number text-center text-muted mb-0">{{ tarea.fechaPlazo }}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estado</span>
                                        {% if tarea.fkEstadoTarea == 1 %}<span
                                          class="info-box-number text-center text-muted mb-0">Creada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 2 %}<span
                                          class="info-box-number text-center text-muted mb-0">Asignada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 3 %}<span
                                          class="info-box-number text-center text-muted mb-0">Aceptada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 4 %}<span
                                          class="info-box-number text-center text-muted mb-0">Rechazada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 5 %}<span
                                          class="info-box-number text-center text-muted mb-0">Atrasada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 6 %}<span
                                          class="info-box-number text-center text-muted mb-0">Completada</span>{% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                  <h4 class="text-primary">
                                    Descripción
                                  </h4>
                                  {{tarea.descripcionTarea}}
                                </div>
                              </div>
                            </div>
                          </div>
                          <form method="POST" action="{% url 'progressTask' idTask=tarea.idTarea  %}">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="form-group text-left">
                                Horas de avance de la tarea
                                <input type="number" min="1" max="100" name="progreso" value="{{ tarea.percent }}" />
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="submit" class="btn btn-primary">Enviar Progreso</button>
                              <a type="button" class="btn btn-success"
                                href="{% url 'taskcomplete' idTask=tarea.idTarea  %}"><i
                                  class="fab fa-angellist"></i>Completar tarea</a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </form>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>

                    {% endif %}
                    <div class="modal fade" id="modal-reportar-{{tarea.idTarea}}" style="display: none;"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¿Que problema desea reportar de la tarea {{tarea.nombreTarea}}?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <form method="POST" action="{% url 'taskcomplete' idTask=tarea.idTarea  %}">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="form-group text-left">
                                <label>Ingrese Motivo de rechazo</label>
                                <textarea class="form-control" rows="3" name="inputProblema" placeholder="Motivo ..."
                                  required></textarea>
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                          </form>
                          <!--<a type="button" class="btn btn-primary" href="{% url 'RejectTask' idTask=tarea.idTarea  %}">Aceptar</a>-->
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>

                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </td>
                </tr>
                {% endfor %}


              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- /.content -->
      {% endif %}


    </div>
    <!-- /.content-wrapper -->
</body>
{% endblock content %}