{% extends 'base.html' %}
{% load static %}
{% load parse_iso %}
{% load random_numbers %}

{% block content %}


<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1> {% if datos.role == 1 %} Listado de tareas {% endif %}  {% if datos.role !=  1 %}Mis tareas asignadas{% endif %}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Lista de Tareas</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            {% if  datos.role == 1 %}
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'tasknew' %}">Nueva Tarea</a>
              </li>
            </ul>
            {% endif %}
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <table class="table table-hover projects">
              <thead>
                <tr>
                  <th style="width: 1%">
                    #
                  </th>
                  <th style="width: 20%">
                    Nombre
                  </th>
                  <th style="width: 30%">
                    Asignada a
                  </th>
                  <th>
                    Progreso de tarea
                  </th>
                  <th style="width: 8%" class="text-center">
                    Estado
                  </th>
                  <th style="width: 20%">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for tarea in datos.tk %}
                <tr>
                  <td>
                    {{tarea.idTarea}}
                  </td>
                  <td>
                    <a>
                      {{tarea.nombreTarea}}
                    </a>
                    <br />
                    <small>
                      Fecha Plazo: {{tarea.fechaPlazo|parse_iso|date:'d/m/Y'}}
                    </small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar.png' %}">
                      </li>
                      {% for us in datos.usuarios %}

                      {% if  us.rutUsuario == tarea.fkRutUsuario %}
                      {{us.nombreUsuario}} {{us.apellidoUsuario}}
                      {% endif %}
                      {% endfor %}

                      {% comment %} <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar2.png' %}">
                      </li>
                      <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar3.png' %}">
                      </li>
                      <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="{% static 'img/avatar4.png' %}">
                      </li> {% endcomment %}
                    </ul>
                  </td>
                  <td class="project_progress">
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{tarea.percent}}" aria-valuemin="0"
                        aria-valuemax="100" style="width: {{tarea.percent}}%">
                      </div>
                    </div>
                    <small>
                      {{tarea.percent}} % Completada   
                    </small>
                  </td>
                  <td class="project-state">
                    {% if tarea.fkEstadoTarea == 1 %}<span class="badge badge-primary">Creada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 2 %}<span class="badge badge-warning">Asignada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 3 %}<span class="badge badge-success">Aceptada</span>{% endif %}
                    {% if tarea.fkEstadoTarea == 4 %}<span class="badge badge-danger">Rechazada</span>{% endif %}
                  </td>
                  <td class="project-actions">
                    {% if  datos.role == 1 %}
                    <a class="btn btn-primary btn-sm" href="{% url 'taskdetails' id=tarea.idTarea%}">
                      <i class="fas fa-eye"></i>
                      Ver
                    </a>
                    <a class="btn btn-info btn-sm" href="{% url 'taskedit' id=tarea.idTarea %}">
                      <i class="fas fa-pencil-alt">
                      </i>
                    </a>
                    <a class="btn btn-danger btn-sm" href="{% url 'taskdelete' id=tarea.idTarea %}">
                      <i class="fas fa-trash">
                      </i>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"
                      data-target="#modal-{{tarea.idTarea}}">
                      <i class="fas fa-check-circle"></i>
                      <span>Aceptar</span>
                    </button>

                    <button type="reset" class="btn btn-block btn-danger btn-sm" data-toggle="modal"
                      data-target="#modal-rechazar-{{tarea.idTarea}}">
                      <i class="fas fa-times-circle"></i>
                      <span>Rechazar</span>
                    </button>
                    <div class="modal fade" id="modal-{{tarea.idTarea}}" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">{{tarea.nombreTarea}}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="row">
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Fecha Plazo</span>
                                        <span
                                          class="info-box-number text-center text-muted mb-0">{{tarea.fechaPlazo}}</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box bg-light">
                                      <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estado</span>

                                        {% if tarea.fkEstadoTarea == 1 %}<span
                                          class="info-box-number text-center text-muted mb-0">Completada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 44 %}<span
                                          class="info-box-number text-center text-muted mb-0">Pendiente</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 41 %}<span
                                          class="info-box-number text-center text-muted mb-0">Atrasada</span>{% endif %}
                                        {% if tarea.fkEstadoTarea == 21 %}<span
                                          class="info-box-number text-center text-muted mb-0">Creada</span>{% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                                  <h4 class="text-primary">
                                    Descripción
                                  </h4>
                                  {{tarea.descripcionTarea}}
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="modal-footer justify-content-between">
                            <a type="button" class="btn btn-primary" href="{% url 'AcceptTask' idTask=tarea.idTarea  %}">Aceptar</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    <div class="modal fade" id="modal-rechazar-{{tarea.idTarea}}" style="display: none;"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">¿Seguro que deseas rechazar la tarea {{tarea.nombreTarea}}?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <form method="POST" action="{% url 'RejectTask' idTask=tarea.idTarea  %}">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="form-group text-left">
                                <label>Ingrese Motivo de rechazo</label>
                                <textarea class="form-control" rows="3" name="descripcion" placeholder="Motivo ..." required></textarea>
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="submit" class="btn btn-primary">Aceptar</button>
                          </form>
                              <!--<a type="button" class="btn btn-primary" href="{% url 'RejectTask' idTask=tarea.idTarea  %}">Aceptar</a>-->
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    {% endif %}
                  </td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>


  {% endblock content %}