{% extends 'base.html' %} {% load static %} {% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Editar tarea subordinada</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Editar tarea subordinada</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for x in datos.oneTareaSubordinada %}
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="nombretarea">Nombre Tarea Subordinada</label>
                                                <input type="text" class="form-control" name="nombreTareaSubordinada" id="nombreTareaSubordinada"
                                                    value ="{{x.nombreSubordinada}}" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                    <label class="bmd-label-floating">Id Tarea</label>
                                                    <input type="text" class="form-control" name="selectTarea"
                                                    value = "{{x.fkIdTarea}}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Descripción Tarea Subordinada</label>
                                                    <textarea class="form-control" rows="3"
                                                        style="resize: none;" name="descripcionTareaSubordinada">{{x.descripcionSubordinada}}</textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">Actualizar</button>
                                        <button type="submit" class="btn btn-default float-right">Cancelar</button>
                                    </div>

                                    {% endfor %}
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock content %}