{% extends 'base.html' %} {% load static %} {% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Editar tarea subordinada</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Editar tarea subordinada</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for x in data.oneTareaSubordinada %}
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="nombretarea">{{x.nombreSubordinada}}</label>
                                                <input type="text" class="form-control" name="nombreTareaSubordinada" id="nombreTareaSubordinada"
                                                    placeholder="Nombre Tarea Subordinada" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                    <label class="bmd-label-floating">{{x.fkIdTarea}}</label>
                                                    <input type="text" class="form-control" name="selectTarea" placeholder="Id Tarea">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="Proceso">Prioridad</label>
                                                <select class="form-control" name="prioridadtarea">
                                                    {% for prioridad in data.listPrioridadTarea %}
                                                        <option value="{{prioridad.idPrioridad}}"
                                                            {% if datos.menu == 'taskedit' and prioridad.idPrioridad == datos.tareas.fkPrioridadTarea %}
                                                            selected {% endif %}>{{prioridad.descripcion}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="estadoTarea">Estado Tarea</label>
                                                <select class="form-control" name="estadoTarea">
                                                    {% for estadoTareaList in data.listEstadoTarea %}
                                                        <option value="{{estadoTareaList.idEstadoTarea}}">
                                                            {{estadoTareaList.descripcionEstadoTarea}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>{{x.descripcionSubordinada}}</label>
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Descripción Tarea Subordinada" style="resize: none;" name="descripcionTareaSubordinada" ></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">Editar Tarea Subordinada</button>
                                        <button type="submit" class="btn btn-default float-right">Cancelar</button>
                                    </div>

                                    {% endfor %}
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock content %}