{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mantenedor de Roles</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Mantenedor de Roles</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header"></div>
                                <form action="">
                                    <!-- card-body -->
                                    <div class="card card-body">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Mantenedor de Roles</h3>

                                                <div class="card-tools">
                                                    <div class="input-group input-group-sm" style="width: 150px;">
                                                        <input type="text" name="table_search"
                                                            class="form-control float-right" placeholder="Search">

                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body table-responsive p-0">
                                                <table class="table table-hover text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">ID</th>
                                                            <th class="text-center">Nombre</th>
                                                            <th class="text-center">Descripcion</th>
                                                            <th class="text-center">Accion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for roles in datos.roles %}

                                                        <tr>
                                                            <td class="text-center">{{roles.rolId}}</td>
                                                            <td class="text-center">{{roles.nombreRol}}</td>
                                                            <td class="text-center">{{roles.descripcion}}</td>
                                                            <td class="text-center">
                                                                <a class="btn btn-primary btn-sm" href="{% url 'viewrole' id=roles.rolId%}">
                                                                    <i class="fas fa-folder">
                                                                    </i>
                                                                    View
                                                                </a>
                                                                <a class="btn btn-info btn-sm" href="{% url 'editrole' id=roles.rolId %}">
                                                                    <i class="fas fa-pencil-alt">
                                                                    </i>
                                                                    Edit
                                                                </a>
                                                                <a class="btn btn-danger btn-sm" href="#" onclick="confirmOption('{{roles.nombreRol}}', '/dashboard/deleterole/{{roles.rolId}}')">
                                                                    <i class="fas fa-trash">
                                                                    </i>
                                                                    Eliminar
                                                                </a>

                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <a class="btn btn-info btn-sm float-left active" href="{% url 'newrole' %}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Nuevo rol
                                        </a>
                                        <button type="button" class="btn btn-default float-right" onclick="history.back()">Cancelar</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
  function confirmOption(opcion, direccion){
    if(confirm("Esta seguro que desea Eliminar el registro "+ opcion)){
      window.location.href = direccion;
    }
  }
</script>
{% endblock content %}