{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 2171.31px">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Creacion de unidades internas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Creacion de unidades internas</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card">
                                <div class="card-header"></div>
                                <form method="post" action="{% if datos.menu == 'editunits' %} {% url 'updateunits' id=datos.unidad.idUnidadInterna %} {% endif %} {% if datos.menu == 'newunits' %} {% url 'createnewunits' %} {% endif %}">
                                {% csrf_token %}
                                    <!-- card-body -->
                                    <div class="card card-body">
                                        <div class="form-group col-md-6">
                                            <label for="Nombreunidad">Nombre</label>
                                            <input type="text" class="form-control" name="nombreunit"
                                            {% if datos.menu == 'newunits' %} placeholder="Nombre" {% endif %} 
                                            {% if datos.menu == 'viewunits' %} disabled value = "{{datos.unidad.nombreUnidad}}"{% endif %}
                                            {% if datos.menu == 'editunits' %} value = "{{datos.unidad.nombreUnidad}}"{% endif %}
                                            />
                                        </div>

                                        <div class="row">
                                            {% if datos.menu == 'newunits' %}
                                            <div class="col-sm-12">
                                                <label>Nombre Empresa</label>
                                                <select class="form-control" name="fkRutEmpresa">
                                                    {% for empresa in datos.empresas %}
                                                    <option value="{{empresa.rutEmpresa}}"
                                                        {% if datos.menu == 'newunits'%} placeholder = "Rut Empresa" {% endif %} 
                                                        >
                                                        
                                                        {{empresa.razonSocial}} 
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% endif %}
                                            
                                        <!--
                                            {% if datos.menu == 'editunits' %}
                                            <div class="col-sm-12">
                                                <label>Nombre Empresa {{datos.empresas}}</label>
                                                <input type="text" value="{{empresas.rutEmpresa}}">
                                                {{empresa.razonSocial}}
                                            </div>
                                            {% endif %}
                                        -->


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>Descripción</label>
                                                    <textarea class="form-control" rows="3" name="descriptunit" {% if datos.menu != 'viewunits' %} placeholder = "Descripción" {% endif %} 
                                                        style="resize: none;" {% if datos.menu == 'viewunits' %} disabled {% endif %}>{{datos.unidad.descripcionUnidad}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info" value="OK" {% if datos.menu == 'viewunits' %} hidden {% endif %}>Guardar</button>
                                        <button type="button" onclick="history.back()" class="btn btn-default float-right">Cancelar</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}